# Feature Engineering Examples

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/slickml/slick-ml/blob/master/examples/feature_engineering.ipynb)

### Google Colab Configuration

In [ ]:
!git clone https://github.com/slickml/slick-ml.git
%cd slick-ml
!pip install -r requirements.txt

### Local Environment Configuration

In [5]:
# Change path to project root
%cd ..

### Import Python Libraries

In [3]:
%load_ext autoreload

# widen the screen
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

# change the path and loading class
import os, sys
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
%autoreload
from slickml.feature_engineering import noisy_features

______
## Noisy Features

### Example 1: Numpy Array

In [3]:
X = np.random.rand(4,3)
X

array([[0.02661847, 0.20084845, 0.78934628],
       [0.24355953, 0.31077991, 0.85586743],
       [0.75200011, 0.27989144, 0.53315979],
       [0.99185396, 0.88875898, 0.99561429]])

In [4]:
noisy_features(X)

        F_0       F_1       F_2  noisy_F_0  noisy_F_1  noisy_F_2
0  0.026618  0.200848  0.789346   0.243560   0.310780   0.855867
1  0.243560  0.310780  0.855867   0.991854   0.888759   0.995614
2  0.752000  0.279891  0.533160   0.026618   0.200848   0.789346
3  0.991854  0.888759  0.995614   0.752000   0.279891   0.533160

### Example 2: Pandas DataFrame

In [5]:
X = pd.DataFrame(np.random.rand(4,3),
                 columns=[F"col_{i}" for i in range(X.shape[1])])
X

      col_0     col_1     col_2
0  0.173211  0.506852  0.978175
1  0.316684  0.008112  0.970486
2  0.371676  0.609550  0.219895
3  0.122510  0.705241  0.889342

In [6]:
noisy_features(X)

      col_0     col_1     col_2  noisy_col_0  noisy_col_1  noisy_col_2
0  0.173211  0.506852  0.978175     0.316684     0.008112     0.970486
1  0.316684  0.008112  0.970486     0.122510     0.705241     0.889342
2  0.371676  0.609550  0.219895     0.173211     0.506852     0.978175
3  0.122510  0.705241  0.889342     0.371676     0.609550     0.219895

### Example 3: List

In [9]:
X = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
X

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
noisy_features(X)

   F_0  F_1  F_2  noisy_F_0  noisy_F_1  noisy_F_2
0    1    2    3          4          5          6
1    4    5    6          1          2          3
2    7    8    9          7          8          9

In [14]:
a = 1.
isinstance(a, float)

True